@inherits LayoutComponentBase

<div class="mobile-container">
    <div class="mobile-screen">
        <NavMenu/>

        <main class="mobile-main">
            @Body
        </main>
    </div>
</div>