@using BlazorBootstrap

<div class="top-nav">
    <div class="top-nav-content">
        <span class="app-title">FitLife</span>
        
        <NavLink href="/profile" class="stat-icon stat-icon-primary avatar-square">
            <Icon Name="IconName.PersonFill" Size="IconSize.x4" />
        </NavLink>
    </div>
</div>




<div class="bottom-nav">
    <NavLink class="bottom-nav-item" href="/" Match="NavLinkMatch.All">
        <div class="nav-icon">
            <Icon Name="IconName.HouseFill" Size="IconSize.x4" />
        </div>
        <span>Hjem</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="/trainingpage">
        <div class="nav-icon">
            <Icon Name="IconName.Activity" Size="IconSize.x4" />
        </div>
        <span>Træning</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="/exercisespage">
        <div class="nav-icon">
            <Icon Name="IconName.ListCheck" Size="IconSize.x4" />
        </div>
        <span>Øvelser</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="/bookingpage">
        <div class="nav-icon">
            <Icon Name="IconName.PeopleFill" Size="IconSize.x4" />
        </div>
        <span>Hold</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="/progresspage">
        <div class="nav-icon">
            <Icon Name="IconName.GraphUpArrow" Size="IconSize.x4" />
        </div>
        <span>Progress</span>
    </NavLink>
</div>
