@page "/exercisespage"

<div class="container py-4">
    <h3>Øvelser</h3>
    <h4 class="text-muted mb-4">Udforsk øvelses-biblioteket</h4>

    <div class="ex-search">
        <Icon Name="IconName.Search" class="ex-search-icon" />
        <input type="text" class="ex-search-input" placeholder="Søg efter øvelser..." />
    </div>

    <div class="exercise-cards">

        <ExerciseCard Title="Dumbbell Curl" Category="Upper Body" Difficulty="Begynder" />
        <ExerciseCard Title="Hamstring Curl" Category="Lower Body" Difficulty="Mellem" />
        <ExerciseCard Title="Six-Pack Crunch" Category="Core" Difficulty="Begynder" />
        <ExerciseCard Title="Armbøjninger" Category="Upper Body" Difficulty="Mellem" />

        <ExerciseCard Title="Bench Press" Category="Upper Body" Difficulty="Avanceret" />
        <ExerciseCard Title="Deadlift" Category="Lower Body" Difficulty="Avanceret" />
        <ExerciseCard Title="Leg Press" Category="Lower Body" Difficulty="Begynder" />
        <ExerciseCard Title="Planke" Category="Core" Difficulty="Begynder" />

        <ExerciseCard Title="Russian Twist" Category="Core" Difficulty="Mellem" />
        <ExerciseCard Title="Mountain Climbers" Category="Full Body" Difficulty="Mellem" />
        <ExerciseCard Title="Lateral Raise" Category="Upper Body" Difficulty="Begynder" />
        <ExerciseCard Title="Dips" Category="Upper Body" Difficulty="Avanceret" />

    </div>
</div>